<!-- dispatch-order-cross-dock.component.html -->
<form [formGroup]="dispatchForm" (ngSubmit)="onSubmit()">
  <h1>Generate Payload Dispatch Order (Cross Dock)</h1>

  <p><b>Step1:</b> Go to mongodb collection <b>order.delivery_orders</b> then right click at your document and select
    copy > <b>Copy Value as Plain Text</b></p>
  <p><b>Step2:</b> Paste your Delivery Order here</p>
  <div class="textarea-content">
    <textarea formControlName="deliveryOrder" (input)="onChangedInputDelivery()"></textarea>
  </div>

  <h3>Fill in Tote information</h3>
  <div class="form-group mb-2">
    <label for="packingOption" class="text-red text-xl">Packing Options:</label>
    <ng-select [items]="packingOptions" bindLabel="name" bindValue="id" placeholder="Select packing option"
      formControlName="packingOption" class="custom-ng-select" (change)="onChangedPackingOption()">
    </ng-select>
  </div>

  <div *ngIf="dispatchForm.value.packingOption === 'ONE_TOTE'">
    <div class="form-group">
      <label for="toteId">ToteId:</label>
      <input type="text" id="toteId" formControlName="toteId" placeholder="Enter ToteId">
      <small class="form-text text-muted ml-2">เช่น TB990001</small>
    </div>
  </div>

  <div *ngIf="dispatchForm.value.packingOption === 'SEPARATE_TOTE'">
    <!-- pick-list.component.html -->
    <form [formGroup]="toteForm">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Product Name</th>
            <th>Barcode</th>
            <th>Assigned Qty</th>
            <th>Pick Details</th>
          </tr>
        </thead>
        <tbody formArrayName="items">
          <tr *ngFor="let item of items.controls; let i = index" [formGroupName]="i">
            <td>{{ item.get('productName')?.value }}</td>
            <td>{{ item.get('barcode')?.value }}</td>
            <td>{{ item.get('assignedQty')?.value }}</td>
            <td>
              <table class="table table-sm table-borderless" formArrayName="details">
                <tr *ngFor="let d of getDetails(i).controls; let j = index" [formGroupName]="j" class="pick-detail-row">
                  <td colspan="3">
                    <div class="row">
                      <div class="col-4">
                        <input type="text" class="form-control" formControlName="pickQty" placeholder="Pick Qty"
                        [class.is-invalid]="d.get('pickQty')?.invalid && d.get('pickQty')?.touched">
                      </div>
                      <div class="col-7">
                        <input type="text" class="form-control" formControlName="toteId" placeholder="Tote ID"
                        [class.is-invalid]="d.get('toteId')?.invalid && d.get('toteId')?.touched">
                      </div>
                      <div class="col-1">
                        <button type="button" class="btn btn-danger btn-sm" (click)="removeDetail(i, j)">–</button>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="3">
                    <button type="button" class="btn btn-primary btn-sm"
                      style="border: 1px solid #0d6efd !important; padding: 0.25rem 0.75rem;" (click)="addDetail(i)">
                      + Split Tote
                    </button>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>

  <div *ngIf="dispatchForm.value.packingOption === 'RANDOM_TOTE'">
    <div class="form-group">
      <label for="randomToteCode">Subfix Tote Code:</label>
      <input type="text" id="randomToteCode" formControlName="randomToteCode" placeholder="Enter Tote Code">
    </div>

    <div class="form-group">
      <label for="startRandomRunningNumber">Start Running Number:</label>
      <input type="number" id="startRandomRunningNumber" formControlName="startRandomRunningNumber"
        placeholder="Enter Start Running Number">
    </div>
  </div>

  <h3>Fill in Shipment information</h3>
  <div class="form-group">
    <label for="platNo">Plat No:</label>
    <input type="text" id="platNo" formControlName="platNo" placeholder="Enter PlatNo" 
    [class.is-invalid]="dispatchForm.get('platNo')?.invalid && dispatchForm.get('platNo')?.touched">
  </div>

  <div class="form-group">
    <label for="driverName">Driver Name:</label>
    <input type="text" id="driverName" formControlName="driverName" placeholder="Enter DriverName"
    [class.is-invalid]="dispatchForm.get('driverName')?.invalid && dispatchForm.get('driverName')?.touched">
  </div>

  <div class="form-group">
    <label for="priceDate">Price Date:</label>
    <input type="text" id="priceDate" formControlName="priceDate" placeholder="YYYY-MM-DD"
    [class.is-invalid]="dispatchForm.get('priceDate')?.invalid && dispatchForm.get('priceDate')?.touched">
    <small class="form-text text-muted ms-2">ดึงข้อมูลจาก stock.external_prices โดยใช้ barcode และเลือกรายการที่มี
      createdDate ล่าสุด (มีผลกับทุก item อาจจะต้องไปแก้ไขเพิ่มเองในภายหลัง)</small>
  </div>

  <div>
    <button type="button" class="btn btn-primary" (click)="onSubmit()">Export CSV</button>
    <!-- <button type="button" class="btn btn-secondary" (click)="clearData()">Clear</button> -->
  </div>

  <hr class="mt-5">
</form>

<div id="tableContainer">
  <!-- render generated table here -->
</div>