<h1>Stock Count Request</h1>

<form [formGroup]="stockCountForm">
  <div class="form-group">
    <label>Subject:</label>
    <input type="text" formControlName="subject" style="width: 500px !important;">
  </div>

  <div class="form-group">
    <label>Select by:</label>
    <select formControlName="itemType">
      <option value="">Select by</option>
      <option value="ARTICLE">Select item by Item</option>
      <option value="CLASS">Select item by Class</option>
    </select>
  </div>

  <div class="radio-group mt-2 mb-2">
    <label style="margin-right: 55px;">Input Separator:</label>
    <label>
      <input type="radio" value="NEW_LINE" formControlName="inputSeparator" /> New Line
    </label>
    <label>
      <input type="radio" value="COMMA" formControlName="inputSeparator" /> Comma
    </label>
    <small class="form-text text-muted">รูปแบบข้อมูลคั่นด้วย comma (,) เช่น 10100,10200</small>
  </div>

  <div class="form-group">
    <label >Class Code / ArticleNo:</label>
    <textarea formControlName="inputCodes" rows="4" ></textarea>
  </div>

  <div class="form-group">
    <label>Select Store:</label>
    <select formControlName="selectStore">
      <option value="">Select a store</option>
      <option value="DEAR">Dear's Store</option>
      <option value="TUNG">P'Tung's Store</option>
      <option value="ANDROID">Android's Store</option>
      <option value="DEAR+ANDROID">Dear+Android's Store</option>
      <option value="OTHER">Other</option>
    </select>
  </div>

  <div *ngIf="showInputStores" class="form-group">
    <label>Stores:</label>
    <small class="form-text text-muted">คั่นด้วย comma (,) เช่น CJX0001,CJX0002</small>
    <textarea formControlName="inputStores" rows="2"></textarea>
  </div>

  <div class="mt-3">
    <button class="btn btn-primary me-2" type="button" (click)="generatePayload()">Generate Payload</button>
    <button class="btn btn-danger" type="button" (click)="clearForm()">Clear</button>
  </div>
</form>

<hr style="margin-top: 30px;">

<h2>
  Payload Output:
   <app-copy-button [textToCopy]="stockCountRequestOutput"></app-copy-button>
</h2>

<pre id="stockCountRequestOutput" #outputDiv>{{ stockCountRequestOutput }}</pre>