<div class="title-row">
  <h1 class="title">Create New Product</h1>

  <span class="subtitle text-red">
    (Segment, Family, Class, SubClass ไปแก้เองทีหลังบน Nest เด้อ)
  </span>
</div>

<form class="mt-3" [formGroup]="productForm">
  <div class="form-group">
    <label>Article Number:</label>
    <input type="text" formControlName="articleNo" style="width: 500px !important;" maxlength="25"
      [class.is-invalid]="productForm.get('articleNo')?.invalid && productForm.get('articleNo')?.touched">
    <app-random-button buttonClass="ms-3" (clicked)="generateArticleNo()"></app-random-button>
  </div>

  <div class="form-group">
    <label>Product Name:</label>

    <div>
      <input type="text" formControlName="productName" style="width: 500px !important;" maxlength="100"
        [class.is-invalid]="productForm.get('productName')?.invalid && productForm.get('productName')?.touched">
      <app-random-button buttonClass="ms-3" (clicked)="generateProduct()"></app-random-button>

      <div class="text-danger small mt-1">
        <span *ngIf="productForm.get('productName')?.hasError('maxlength') &&
                 productForm.get('productName')?.touched">
          ❌ Product Display Name must not exceed 100 characters
        </span>
      </div>
    </div>

    <small class="ms-3">Max 100 characters</small>
  </div>

  <div class="form-group">
    <label>Product Display Name:</label>

    <div>
      <input type="text" formControlName="productDisplayName" style="width: 500px !important;" maxlength="25"
        [class.is-invalid]="productForm.get('productDisplayName')?.invalid &&
                         productForm.get('productDisplayName')?.touched">

      <div class="text-danger small mt-1">
        <span *ngIf="productForm.get('productDisplayName')?.hasError('maxlength') &&
                 productForm.get('productDisplayName')?.touched">
          ❌ Product Display Name must not exceed 25 characters
        </span>
      </div>
    </div>

    <small class="text-muted ms-3"> Max 25 characters</small>
  </div>

  <div class="form-group">
    <label>Brand:</label>
    <input type="text" formControlName="brand" style="width: 500px !important;" maxlength="50"
      [class.is-invalid]="productForm.get('brand')?.invalid && productForm.get('brand')?.touched">
    <small class="ms-3">Max 50 characters</small>
  </div>

  <div class="form-group mb-3 mt-3">
    <label for="mode">Product Type :</label>
    <ng-select [items]="productTypes" bindLabel="name" bindValue="id" placeholder="Select Product Type"
      formControlName="productType" class="custom-ng-select"
      [class.is-invalid]="productForm.get('productType')?.invalid && productForm.get('productType')?.touched">
    </ng-select>
  </div>

  <div class="form-group mb-3 mt-3">
    <label for="mode">Ordering Method :</label>
    <ng-select [items]="orderingMethods" bindLabel="name" bindValue="id" placeholder="Select Ordering Method"
      formControlName="orderingMethod" class="custom-ng-select"
      [class.is-invalid]="productForm.get('orderingMethod')?.invalid && productForm.get('orderingMethod')?.touched">
    </ng-select>
  </div>

  <div class="form-group mb-3 mt-3">
    <label for="mode">Delivery Method :</label>
    <ng-select [items]="deliveryMethods" bindLabel="name" bindValue="id" placeholder="Select Delivery Method"
      formControlName="deliveryMethod" class="custom-ng-select"
      [class.is-invalid]="productForm.get('deliveryMethod')?.invalid && productForm.get('deliveryMethod')?.touched">
    </ng-select>
  </div>

  <div class="form-group mb-3 mt-3">
    <label for="mode">Fresh Lite Category :</label>
    <ng-select [items]="freshLiteCategory" bindLabel="name" placeholder="Select Fresh Lite Category"
      formControlName="freshLiteCategory" class="custom-ng-select"
      [disabled]="productForm.get('deliveryMethod')?.value !== 'SUPPLIER'"
      [class.is-invalid]="productForm.get('freshLiteCategory')?.invalid && productForm.get('freshLiteCategory')?.touched">
    </ng-select>
    <small class="ms-3">Last Fresh Lite Category Update: 26 Jun 2026 </small>
  </div>

  <div class="form-group mb-3">
    <label for="maximumNormalPrice">Maximum Normal Price</label>
    <input style="width: 500px;" id="maximumNormalPrice" type="number" class="form-control"
      formControlName="maximumNormalPrice" min="0"
      [class.is-invalid]="productForm.get('maximumNormalPrice')?.invalid && productForm.get('maximumNormalPrice')?.touched">
  </div>

  <div class="form-group mb-3">
    <label for="wholesalePriceIncVat">Wholesale Price (Inc. VAT)</label>
    <input style="width: 500px;" id="wholesalePriceIncVat" type="number" class="form-control"
      formControlName="wholesalePriceIncVat" min="0"
      [class.is-invalid]="productForm.get('wholesalePriceIncVat')?.invalid && productForm.get('wholesalePriceIncVat')?.touched">
  </div>

  <div style="display: flex; align-items: center;">
    <h3 style="margin: 0;">Retail Price</h3>
  </div>
  <form [formGroup]="retailPriceForm">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="text-center">Picking Unit</th>
          <th>Barcode Number</th>
          <th>Bar Size</th>
          <th>Unit</th>
          <th>Unit Factor</th>
          <th>Retail Price</th>
          <!-- <th>Retail Price Effective Date</th> -->
          <th width="80"></th>
        </tr>
      </thead>

      <tbody formArrayName="items">
        <tr *ngFor="let item of items.controls; let i = index" [formGroupName]="i">
          <td class="text-center">
            <input type="checkbox" class="form-check-input" formControlName="pickingUnit"
              [class.is-invalid]="item.get('pickingUnit')?.invalid && item.get('pickingUnit')?.touched">
          </td>

          <td>
            <div class="d-flex align-items-center">
              <input type="text" class="form-control" formControlName="barcode" placeholder="Barcode Number"
                [class.is-invalid]="item.get('barcode')?.invalid && item.get('barcode')?.touched" />

              <app-random-button buttonClass="ms-2" (clicked)="generateBarcode(i)"></app-random-button>
            </div>
          </td>

          <td style="width: 170px;">
            <ng-select [items]="barSizes" bindLabel="name" bindValue="id" placeholder="Select Bar Size"
              formControlName="barSize" class="custom-ng-select w-100" [clearable]="false"
              [class.is-invalid]="item.get('barSize')?.invalid && item.get('barSize')?.touched">
            </ng-select>
          </td>

          <td style="width: 170px;">
            <ng-select [items]="units" bindLabel="name" bindValue="id" placeholder="Select Unit" formControlName="unit"
              class="custom-ng-select w-100" [clearable]="false"
              [class.is-invalid]="item.get('unit')?.invalid && item.get('unit')?.touched">
            </ng-select>
          </td>

          <td style="width: 170px;">
            <input type="number" class="form-control w-100" formControlName="unitFactor" placeholder="Unit Factor"
              min="0" [class.is-invalid]="item.get('unitFactor')?.invalid && item.get('unitFactor')?.touched">
          </td>

          <td>
            <input type="number" class="form-control" formControlName="retailPrice" placeholder="Retail Price" min="0"
              [class.is-invalid]="item.get('retailPrice')?.invalid && item.get('retailPrice')?.touched">
          </td>

          <!-- <td>
            <input type="date" class="form-control" formControlName="retailPriceEffectiveDate"
              [class.is-invalid]="item.get('retailPriceEffectiveDate')?.invalid && item.get('retailPriceEffectiveDate')?.touched">
          </td> -->

          <td class="text-center">
            <button *ngIf="items.length > 1" type="button" class="btn btn-danger btn-sm" (click)="removeItem(i)">
              -
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <button type="button" class="btn btn-primary" (click)="addItem()">
      + Add Row
    </button>
  </form>

  <div class="mt-3">
    <button class="btn btn-primary me-2" type="button" (click)="submit()">Generate Payload</button>
    <button class="btn btn-danger" type="button" (click)="clearForm()">Clear</button>
  </div>
</form>

<hr style="margin-top: 30px;">

<!-- CURL REQUEST -->
<div class="block">
  <input type="checkbox" id="toggleCurl" hidden checked>

  <label for="toggleCurl" class="payload-header">
    <h2 class="mt-3 d-flex align-items-center">
      <span class="triangle"></span>
      Curl Request:
    </h2>
  </label>

  <div class="payload-box">
    <app-code-box [codeText]="curlRequest"></app-code-box>
  </div>
</div>

<!-- PAYLOAD OUTPUT -->
<div class="block">
  <input type="checkbox" id="togglePayload" hidden>

  <label for="togglePayload" class="payload-header">
    <h2 class="mt-3 d-flex align-items-center">
      <span class="triangle"></span>
      Payload Output:
    </h2>
  </label>

  <div class="payload-box">
    <app-code-box [codeText]="productRequestOutput"></app-code-box>
  </div>
</div>